/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* common start */
    .cPadding {
        padding-top: 40px;
    }

    /* common end */

    /* header start */
    .navCustom {
        padding: 20px 0;
    }

    /* nav start */
    .cNav {
        padding-top: 10px;
    }


    .cNav ul li a {
        padding: 10px 0;
    }

    .singUpBtn {
        margin: 10px 0;
    }

    /* nav end */
    /* banner start */

    .bannerContent {
        padding: 25px 0px 0 0px;
        text-align: center;

    }

    .bannerContent h2 {
        padding: 0 0 10px;
        font-size: 14px;
    }

    .bannerContent h3 {
        padding: 0 0 15px;
        font-size: 27px;
        line-height: 42px;
    }

    .bannerContent p {
        padding: 0 0px 25px;

    }

    .findPlayBtn {
        padding: 0 0px 20px;
    }

    .findBtn {
        height: 50px;
    }

    .playBtn {
        height: 50px;
        padding: 20px 0 0;
    }



    .playSy {
        width: 30px;
        height: 30px;
        font-size: 12px;
        margin: 0 0px 0 -10px;

    }

    .playText {
        margin: 0 0px 0 10px;
        font-size: 16px;
    }

    .bannnerImg {
        padding: 20px 0 0 0;
    }

    /* header end */
    /* offer start */
    .pText {
        padding: 0 0 0px 0;
        font-size: 16px;
    }

    .serviceText {
        font-size: 26px;
        line-height: 40px;
    }

    .offerCard {
        margin: 16px 35px 18px;
        height: 222px;
    }

    .offerCard:hover .cardHover {
        display: none;
    }

    /* offer end */
    /* destination start */
    .desCard {
        margin: 30px auto 0;
    }

    .bookingHead {
        margin-bottom: 32px;
        text-align: center;
    }

    .desHeading h4 {
        font-size: 18px;
    }

    .desHeading span {
        font-size: 18px;

    }

    .desShape img {
        display: none;
    }

    /* booking start */
    .cBooking {
        margin-top: 25px;
    }

    .bookingHead h5 {
        font-size: 16px;
    }

    .bookingHead h3 {
        margin-bottom: 0px;
        font-size: 27px;
        line-height: 38px;
    }

    .bookingBody {
        margin-bottom: 15px;
    }

    .bookingCardText p {
        padding: 0 0px 0 0;
        font-size: 16px;
    }

    .bookingImgCard {
        margin-right: 10px;
        padding: 12px;
    }

    .bookingImgCard img {
        width: 90px;
    }

    .bookingCardText h5 {
        font-size: 16px;
    }

    .bookingCardText p {
        font-size: 14px;
    }

    .bookingRightBg img {
        margin: -16px 0 0 163px;
        width: 140px;
        height: 200px;
    }


    .bookingRightCard {
        margin: 40px 0px 10px;
    }

    .bookHover:hover .bookHoverBody {
        width: 230px;
        transform: translate(-221px, -128px);
    }

    /* booking end*/
    /* destination end */
    /* testimonial start*/
    .testText {
        text-align: center;
    }

    .testText h5 {
        font-size: 16px;
        line-height: 20px;

    }

    .testText h3 {
        padding: 0;
        font-size: 27px;
        line-height: 40px;
    }

    .fCard {
        margin: 20px 0 0;
    }

    .testImg {
        transform: translate(96px, 3px);
    }

    .testCardB {
        margin: 40px 0px;
        padding: 35px 24px 29px;
    }

    .testCardB h5 {
        line-height: 22px;

    }


    .sCard {
        display: none;
    }


    .slick-arrow {}

    .slick-arrow.fa-angle-left {
        transform: translate(0, 150px)rotate(0deg);
    }

    .slick-arrow.fa-angle-right {
        transform: translate(0px, 150px)rotate(0deg);

    }


    /* testimonial end */

    /* partner start */


    .partnerImg {
        width: 92px;
        height: 38px;
    }

    /* partner end */
    /* subcribe start */
    .subscribe {
        margin-top: 25px;
    }

    .subBg {
        padding: 45px 25px;
        border-radius: 20px;

    }

    .subSend {
        transform: translate(3px, -14px);

    }

    .subSend img {
        width: 45px;
    }

    .subH2 {
        font-size: 16px;
        line-height: 26px;
        padding: 14px 0px 14px 0;
    }

    .subBg1 {
        display: none;
    }

    .subBg2 {
        display: none;
    }

    .subEmail {
        height: 45px;
    }

    .mailIcon {
        transform: translate(8px, 36px);
    }

    .orangeBtn {
        width: 118px;
        height: 45px;
        margin-top: 55px;
        font-size: 14px;

    }

    /* subcribe end */
    /* footer start */
    footer {
        margin-top: 25px;
    }

    .footerLink {
        margin-top: 10px;
    }

    .footerLink ul li {
        padding: 0 0 5px;
    }

    .reserved {
        padding: 20px 0;
    }

    .fT {
        margin-top: 40px;
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* common start */
    .cPadding {
        padding-top: 50px;
    }

    /* common end */

    /* header start */
    .navCustom {
        padding: 20px 0;
    }

    /* nav start */
    .cNav {
        padding-top: 10px;
    }

    .cNav ul li a {
        padding: 10px 0;
    }

    .singUpBtn {
        margin: 10px 0;
    }

    /* nav end */
    /* banner start */

    .bannerContent {
        padding: 0px 40px 0 40px;
        text-align: center;
    }

    .bannerContent h2 {
        padding: 0 0 5px;
        font-size: 16px;
    }

    .bannerContent h3 {
        padding: 0 0 5px;
        font-size: 30px;
        line-height: 48px;
    }

    .bannerContent p {
        padding: 0 0 25px 0px;
    }

    .findPlayBtn {
        padding: 0 50px 20px;
    }

    .findBtn {
        width: 150px;
        height: 48px;
        font-size: 16px;
    }

    .playBtn {
        width: 150px;
        height: 48px;
    }

    .playSy {
        width: 30px;
        height: 30px;
        font-size: 12px;
        margin: 0 0px 0 -10px;

    }

    .playText {
        margin: 0 0px 0 10px;
        font-size: 16px;
    }

    .bannnerImg {
        padding: 20px 0 0 0;
    }

    .bannnerImg img {
        padding: 0px 100px 40px;
    }

    /* header end */
    /* offer start */
    .pText {
        padding: 0 0 0px 0;
        font-size: 16px;
    }


    .serviceText {
        font-size: 35px;
        line-height: 50px;
    }

    .offerCard {
        margin: 50px 18px;
    }

    .offerT {
        font-size: 18px;
    }

    .offerP {
        font-size: 15px;
    }

    /* offer end */
    /* destination start */

    .desCard {
        margin: 35px auto 0;
    }

    .desShape img {
        position: absolute;
        z-index: 1;
        margin: -272px 0 0 388px;
    }

    /* destination end */
    /* booking start */
    .bookingHead h3 {
        margin-bottom: 0px;
        font-size: 35px;
        line-height: 50px;
    }

    .bookingBody {
        margin-bottom: 15px;
    }

    .bookingCardText p {
        padding: 0 0px 0 0;
        font-size: 16px;
    }

    .bookingRightBg img {
        margin: -23px 0 0 307px;
        width: 140px;
        height: 290px;
    }

    .bookingRightCard {
        margin: 40px 40px 10px;
    }

    .bookHover:hover .bookHoverBody {
        transform: translate(-197px, -132px);
    }

    /* booking end*/
    /* testimonial start */
    .testImg {
        transform: translate(4px, 3px);
    }

    .testCardB {
        margin: 35px 35px;
    }

    .sCard {
        width: 400px;
        padding: 50px 80px 0;
        transform: translate(105px, -252px);
    }

    .slick-dots {
        transform: translate(-104px, 10px);
    }

    .slick-dots li button:before {
        font-size: 10px;
    }

    .slick-arrow {
        display: none !important;

    }

    /* testimonial end */


    /* parter start */
    .partner {
        /* margin: 0px 143px; */

    }

    .partnerImg {
        width: 108px;
        height: 46px;
        padding: 0 0px;
        margin: 10px auto;
    }

    /* parter end */
    /* subcribe start */
    .subscribe {
        margin: 0px 0 0;
    }

    .subH2 {
        font-size: 22px;
        line-height: 35px;
        padding: 0px 0px 30px 0;
    }

    .subBg1 {
        transform: translate(0px, -44px);
    }

    .subBg2 {
        transform: translate(1px, -23px);
    }

    .subEmail {
        height: 45px;
    }

    .orangeBtn {
        width: 118px;
        height: 45px;
    }

    /* subcribe end */

    /* footer start */
    .footerLink {
        margin-top: 30px;
    }

    .footerLink ul li {
        padding: 0 0 5px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .cPadding {
        padding-top: 50px;
    }

    /* header start */
    .navCustom {
        padding: 35px 0;
    }

    /* nav start */
    .cNav {
        padding-top: 20px;
    }

    .cNav ul li a {
        padding: 10px 0;
    }

    .singUpBtn {
        margin: 10px 0;
    }

    /* nav end */
    /* banner start */

    .bannerContent {
        padding: 20px 0 0 0;
    }

    .bannerContent h2 {
        padding: 0 0 10px;
        font-size: 16px;
    }

    .bannerContent h3 {
        padding: 0 0 10px;
        font-size: 30px;
        line-height: 48px;
    }

    .bannerContent p {
        padding: 0 0 25px 0px;
    }

    .findBtn {
        width: 150px;
        height: 48px;
        font-size: 16px;
    }

    .playBtn {
        width: 150px;
        height: 48px;
    }

    .playSy {
        width: 30px;
        height: 30px;
        font-size: 12px;
        margin: 0 0px 0 -10px;

    }

    .playText {
        margin: 0 0px 0 10px;
        font-size: 16px;
    }

    .bannnerImg {
        padding: 40px 0 0 0;
    }

    /* header end */
    /* offer start */

    /* .plusShape img {
        display: none;
    } */

    .pText {
        padding: 0 0 0px 0;
        font-size: 16px;
    }

    .serviceText {
        font-size: 35px;
        line-height: 48px;
    }

    .offerCard {
        margin: 35px 35px 53px;
    }


    .offerP {
        padding: 8px 23px;
    }

    /* offer end */

    /* destination start */

    .desCard {
        margin: 45px auto 0;
        border-radius: 12px;

    }

    .desCardBody {
        padding: 16px 15px;
    }

    .desHeading {

        margin-bottom: 12px;
    }


    .desShape img {
        display: none;
    }

    .desHeading h4 {
        font-size: 16px;
    }

    .desHeading span {
        font-size: 16px;

    }

    .desBodyimg span {
        font-size: 14px;
    }

    /* destination end */
    /* booking start */
    .bookingHead h3 {
        margin-bottom: 0px;
        font-size: 35px;
        line-height: 55px;
    }

    .bookingBody {
        margin-bottom: 15px;
    }

    .bookingCardText p {
        padding: 0 0px 0 0;
        font-size: 16px;
    }

    .bookingRightBg img {
        margin: -50px 0 0 140px;
    }

    .bookingRightCard {
        margin: 40px;
    }

    /* booking end*/

    /* subcription start */

    .testimonial {
        min-height: 485px;

    }

    .testText h3 {
        font-size: 35px;
    }

    .sCard {
        transform: translate(176px, -252px);
    }

    .slick-arrow.fa-angle-right {
        transform: translate(-56px, 200px)rotate(90deg);
    }


    .slick-dots {
        transform: translate(0, 0);
    }

    .slick-dots li button:before {
        font-size: 10px;
    }

    .slick-arrow {
        display: none !important;

    }



    /* subcription end */

    /* parter start */
    .partner {}

    .partnerImg {
        width: 120px;
        height: 46px;
        padding: 0 5px;
    }

    /* parter end */

    /* subcribe start */
    .subH2 {
        font-size: 24px;
        line-height: 35px;
        padding: 0px 0px 35px 0;
    }

    .subBg1 {
        transform: translate(0px, -33px);
    }

    .subEmail {
        height: 52px;
    }

    .orangeBtn {
        width: 145px;
        height: 52px;
    }

    /* subcribe end */
    /* footer start */
    .footerLink {
        margin-top: 30px;
    }

    .footerLink ul li {
        padding: 0 0 5px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* header start */

    /* nav start */
    .navCustom {
        padding: 35px 0;
    }

    .cNav {
        padding-top: 10px;
    }

    .cNav ul li {
        margin-right: 29px;
    }

    /* nav end */
    /* banner start */
    .bannerContent {
        padding: 65px 0 0 0;
    }

    .bannerContent h2 {
        padding: 0 0 10px;
        font-size: 16px;
    }

    .bannerContent h3 {
        padding: 0 0 10px;
        font-size: 43px;
        line-height: 58px;

    }

    .bannerContent p {
        padding: 0 0 25px 0px;
    }

    .playSy {
        margin: 0 0px 0 0;
    }

    /* header end */
    /* offer start */
    /* .plusShape img {
        transform: translate(792px, -87px);
    } */

    .pText {
        padding: 0 0 0px 0;
        font-size: 16px;
    }

    .serviceText {
        font-size: 35px;
        line-height: 60px;
    }

    .offerCard {
        margin: 40px 14px 27px;
    }

    .offerCard:hover .cardHover {
        width: 80px;
        height: 80px;
        transform: translate(-24px, -48px);
    }

    .offerT {
        font-size: 15px;
        line-height: 16px;
    }

    .offerP {
        font-size: 13px;
        line-height: 20px;
    }



    /* offer end */

    /* destination start */
    .desCard {
        margin: 45px auto 0;
    }

    .desShape img {
        margin: -274px 0 0 215px;
    }

    /* destination end */

    /* booking start */
    .bookingHead h3 {
        font-size: 41px;
        line-height: 52px;
    }

    .bookingCardText p {
        padding: 0 12px 0 0;
    }

    .bookingRightBg img {
        margin: -64px 0 0 194px;
        width: 200px;
        height: 200px;
    }

    .bookHover:hover .bookHoverBody {
        width: 235px;
        transform: translate(-176px, -121px);
    }

    /* booking end */

    /* testimonial  start*/
    .testimonial {
        min-height: 318px;
    }

    .testText h3 {
        padding: 0 36px 0 0;
    }

    .testCardB {
        padding: 30px;
        margin: 34px 55px;

    }

    .sCard {
        width: 330px;
        transform: translate(164px, -247px);
    }

    .testImg {
        transform: translate(21px, 3px);

    }

    .slick-arrow.fa-angle-left {
        transform: translate(513px, 150px)rotate(90deg);
    }

    .slick-dots {
        transform: translate(-687px, -68px);
    }

    .slick-dots li button:before {
        font-size: 12px;
    }

    /* testimonial  end*/


    /* parter start */
    .partner {}

    .partnerImg {
        width: 168px;
        height: 46px;
    }

    /* parter end */

    /* subcription start */
    .subBg {
        padding: 45px;
    }

    .subH2 {
        font-size: 28px;
        padding: 0px 0px 40px 0;

    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}



/* Extra-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}